-i https://pypi.org/simple
attrs==21.4.0
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
coverage==6.3.2
coveralls==3.3.1
docopt==0.6.2
hanja==0.13.3
idna==3.3
iniconfig==1.1.1
lxml==4.8.0
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.8
pytest==7.1.2
pytest-cov==3.0.0
pyyaml==5.1.2
requests==2.27.1
soupsieve==2.3.2.post1
tomli==2.0.1
urllib3==1.26.9
selenium==3.13.0
webdriver-manager==3.8.6
